* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Antonio", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.mainButton {
  padding: 10px;
  border: none;
  background: #d9d9d9;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 40px;
  font-weight: 800;
}
nav {
  padding: 10px;
  position: relative;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
ul {
  position: relative;
  right: -168px;
  padding: 10px;
  display: flex;
  top: -22px;
  gap: 60px;
  /* align-items: center; */
}
.logo {
  position: relative;
  left: -166px;
  top: -17px;
}
.logo img {
  height: 90px;
  position: relative;
  top: -7px;
}
li,
a {
color: #1c3988;
text-decoration: none;
list-style: none;
}
.flightTravel {
  position: relative;
  top: -22px;
  right: -125px;
  padding: 10px;
  background-color: #8c80f5;
  /* margin-top: 10px;  */
  border: none;
  background: #d9d9d9;
  border-radius: 40px;
  cursor: pointer;
}
.maincontent{
  display: inline-block;
  border: 2px solid white;
  width: 1520px;
  height: 670px;
  margin: 2px;
  background-color: #ECBE07;
  position: fixed;
  top: 80px;
}

.Dharmika{
  display: inline-block;
  border: 2px solid red;
  width: 250px;
  height: 290px;
  margin: 2px;
  border-radius: 25px;
  position: fixed;
  top: 300px;
  left: 70px;
  background-color: #a49b5a;
}
.DharmikaImg img{
  height: 190px;
  width: 240px;
  position: relative;
  left: 05px;
  top: -40px;
  border-radius: 25px;
}
.Rahul{
  display: inline-block;
  border: 2px solid red;
  width: 250px;
  height: 290px;
  margin: 2px;
  border-radius: 25px;
  position: fixed;
  top: 300px;
  left: 420px;
  background-color: #a49b5a;
}
.RahulImg img{
  height: 190px;
  width: 240px;
  position: relative;
  left: 05px;
  top: -40px;
  border-radius: 25px;
}
.Ananya{
  display: inline-block;
  border: 2px solid red;
  width: 250px;
  height: 290px;
  margin: 2px;
  border-radius: 25px;
  position: fixed;
  top: 300px;
  left: 780px;
  background-color: #a49b5a;
}
.AnanyaImg img{
  height: 190px;
  width: 240px;
  position: relative;
  left: 05px;
  top: -40px;
  border-radius: 25px;
}
.Piyush{
  display: inline-block;
  border: 2px solid red;
  width: 250px;
  height: 290px;
  margin: 2px;
  border-radius: 25px;
  position: fixed;
  top: 300px;
  left: 1120px;
  background-color: #a49b5a;
}
.PiyushImg img{
  height: 190px;
  width: 240px;
  position: relative;
  left: 05px;
  top: -40px;
  border-radius: 25px;
}
h2{
  position: relative;
  top: 170px;
  left:10px;
 color: black;
}
h3{
  position: relative;
  top: 210px;
  left:10px;
  color: black;
}
h4{
  position: relative;
  top: 190px;
  left:10px;
}
.logo1 img{
  height: 70px;
  position:fixed;
  top:366px;
  left: 735px;
  border-radius: 20%;
}
h1{
 position: fixed;
 left: 450px;
 top: 140px; 
 font-size: 500%;
 font-family: cursive;
}