* {
    margin: 0;
    padding: 0;
    font-family: "Antonio", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    padding: 2rem;
    /* height: 100%; */
    background-color: #8c80f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

  }
  
  .php
  {
   
    border: 2px solid red;
    border-radius: 3rem;
    padding: 2rem;
  }
button{
cursor: pointer;
  padding: 10px;
  border: none;
  background: #d9d9d9;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 40px;
  font-weight: 800;
}
  