* {
  margin: 0;
  padding: 0;
  font-family: "Antonio", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  background-color: #8c80f5;
}

.rightEllipse {
  height: 100vh;
  width: 30vw;
  position: absolute;
  right: 0;
}

.aeroplane {
  /* height: 40vh;
  position: absolute;
  right: 9px;
  z-index: 1;
  top: 209px; */
  animation: introduction 5s ease-in-out ;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes introduction {
  from {
    height: 8vh;
    position: absolute;
    right: 9px;
    z-index: 1;
    top: 209px;
  }
  to {
    height: 40vh;
    position: absolute;
    right: 9px;
    z-index: 1;
    top: 209px;
  }
}
nav {
  position: relative;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

ul {
  position: relative;
  right: -336px;
  padding: 10px;
  display: flex;
  gap: 60px;
  /* align-items: center; */
}

li,
a {
  text-decoration: none;
  list-style: none;
}

.flightTravel {
  position: relative;
  right: -225px;
  padding: 10px;
  background-color: #8c80f5;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form {
  font-size: 0.8rem;
  padding-top: 2rem;
  padding-left: 8rem;
  width: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

select {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #e8f1fb;
}

.infoFlex {
  display: flex;
  justify-content: start;
  gap: 50px;
}

.date {
  width: 20vw;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #e8f1fb;
}

.NumOfPassInput {
  width: 19vw;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #e8f1fb;
}

.ticketConfirm {
  margin-top: 2rem;
  position: absolute;
  left: 130px;
  padding: 10px;
  background-color: #e8f1fb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
